body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: 130px;
}

.dropDownContainer{
  width: 100%;
  color: #7e1919;
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 10px;
  z-index: 100;
  background-color:  #e8eca6;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#select-movie{
  background-color: #ebeec9;
  padding: 10px 5px;
}
#search-input{
  background-color: #ebeec9;
  margin-right: 100px;
  width: auto;
  padding: 10px 5px;
}
.episode {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 10px;
  text-align: center;
}

.episode img {
  max-width: 100%;
  border-radius: 5px;
}

.episode-header {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #888;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin: 5px 0;
}

a {
  color: dark blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
